.texts{
  background-color: white;
  box-shadow: 0px 0px 3px #C4C4C4;
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  padding-bottom: 8%;
}
.topic{
  font-size: 36px;
  padding: 5% 0% 0% 2%;
}
.sub-topic{
  font-size: 32px;
  padding: 5% 0% 0% 5%;
  text-align: left;
}
@media (max-width: 990px){
   .texts{
     margin-left: 10%;
   }
}
@media (max-width: 560px){
  .texts{
    margin: 0% 0% 0% 15%;
  }
}
@media (max-width: 512px){
  .texts{
    margin: 0% 0% 0% 15%;
  }
}
@media (max-width: 350px){
  .texts{
    margin: 0% 0% 0% 20%;
  }
}
