<div class="row">
  <img class="picture" src="https://s3-sa-east-1.amazonaws.com/luizppa-assets/img/profile.jpg" alt="A picture of me">
  <a href="#" class="button right dark-blue-bg white">Download as PDF</a>
  <div class="canvas">
    <div class="header">
      <p class="name darker-blue">Luiz Philippe</p>
      <p class="titles dark-blue">Full Stack Developer<br>Undergraduated in Computer Science</p>
      <p class="about">I have been learning different programming languages ​​since 2014 when I started my technical course at the UFMG Technical College. I started my studies with C, and extended my knowledge to web-oriented languages ​​such as PHP, Ruby, JavaScript
        and so on. Currently I'm studying for my bachelor's degree in Computer Science at the Federal University of Minas Gerais. Also, i'm involved with several online courses such as design, UX, machine learning and some of the most commonly used JavaScript
        frameworks.
      </p>
      <div id="showMore" class="darker-blue" align="center">
        <p class="colapsable pointer">Show more<br><i class="fas fa-angle-down"></i></p>
      </div>
      <div id="showLess" class="darker-blue" align="center">
        <p class="colapsable pointer">Show less<br><i class="fas fa-angle-up"></i></p>
      </div>
    </div>
    <div class="texts">
      <p id='experiences' class="topic darker-blue"> Experiences</p>
      <app-topic *ngFor="let topic of getExperiences()" [topic]="topic"></app-topic>
      <p id='education' class="topic darker-blue"> Education</p>
      <app-topic *ngFor="let topic of getEducation()" [topic]="topic"></app-topic>
    </div>
  </div>
</div>