#home-content{
  margin-left: 5px;
  box-shadow: 0px 0px 5px #C4C4C4 !important;
}
.texts{
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  margin-bottom: 20px;
}
.topic{
  font-size: 36px;
  padding: 5% 0% 0% 2%;
}
.sub-topic{
  font-size: 28px;
  margin-left: 8%;
  padding: 3% 0% 0% 0%;
  text-align: left;
}
