<div class="row">
  <div class="box">
    <div class="col-md-4">
      <img [src]="project.image" class="icon">
    </div>
    <div class="col-md-8">
      <p class="title">{{ project.name }}</p>
      <a *ngIf="downloadable()" [href]="project.download" class="download" download>Download <i class="fas fa-download"></i></a>
      <a *ngFor="let link of project.links" [href]="link.url" target="_blank" class="link">See project at {{ link.destination }}</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="box">
    <p class="description">{{ project.description }}</p>
  </div>
</div>