.acomplishment{
  padding: 3%;
}
.name{
  color: #545454;
  font-size: 20px;
  margin-bottom: 0px;
}
.specification{
  color: #8F8F8F;
  font-size: 20px;
  margin-bottom: 0px;
}
.description{
  color: #545454;
  font-size: 20px;
}
