<div class="row">
  <div id="contact-form-wrapper" class="col-xs-12 contact">
    <p class="topic darker-blue">{{ contact }}</p>
    <div class="form">
      <form class="form-group" [formGroup]="emailForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="form-group col-md-6">
            <label class="dark-blue form-label" for="name">{{ name }}</label>
            <input formControlName="name" class="form-field" id="name" type="text" name="name" value="">
          </div>
          <div class="form-group col-md-6">
            <label class="dark-blue form-label" for="email">Email</label>
            <input formControlName="from" class="form-field" id="email" type="text" name="email" value="">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <label class="dark-blue form-label" for="subject">{{ subject }}</label>
            <input formControlName="subject" class="form-field" id="subject" type="text" name="subject" value="">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <label class="dark-blue form-label" for="message">{{ message }}</label>
            <textarea formControlName="message" class="form-field" id="message" name="message" rows="8"></textarea>
            <button type="submit" class="button-lg dark-blue-bg white">{{ send }}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
