a{
  text-decoration: none;
  color: inherit;
}
i{
  align-items: center;
}
#nav-root{
  /* position: fixed; */
  overflow-y: hidden;
  height: 100vh;
}
#icons{
  margin-left: -15px;
}
.bar,.menu{
  height:100vh;
  overflow: hidden;
  color: white;
  padding-top: 20px !important;
}
.bar{
  background-color: #0F3F6E;
  box-shadow: 1px 0px 5px 1px #072640;
  z-index: 3;
}
.menu{
  background-color: #09457F;
  font-family: 'Noto Sans', sans-serif;
  box-shadow: 1px 0px 5px 1px #404040;
  z-index: 2;
}
.menu-item,.menu-icon{
  font-size: 24px;
  display: block;
  outline: 0;
  margin-bottom: 12px;
  cursor: pointer;
}
.menu-item{
}
.menu-icon{
  text-align: center;
}
.brand,.brand-icon{
  outline: 0;
  font-size: 26px;
  display: block;
  margin-bottom: 20px;
}
.brand{
}
.brand-icon{
}
.active-link{
  background-color: #0F3F6E;
}
