<div class="row">
  <div class="col-md-12">
    <div class="col-md-2 bar" align="center">
      <a class="brand-icon" routerLink="/" fragment="top"><i class="fas fa-bars"></i></a>
      <a class="menu-icon" routerLink="/" fragment="experiences"><i class="fas fa-briefcase"></i></a>
      <a class="menu-icon" routerLink="/" fragment="education"><i class="fas fa-graduation-cap"></i></a>
      <a class="menu-icon" routerLink="/" fragment="skills"><i class="fas fa-code"></i></a>
      <a class="menu-icon" routerLink="/" fragment="accomplishments"><i class="fas fa-trophy"></i></a>
      <a class="menu-icon" routerLink="/portfolio"><i class="fas fa-book"></i></a>
    </div>
    <div class="menu">
      <a class="brand pointer" routerLink="/" fragment="top">Luiz Philippe</a>
      <a class="menu-item" routerLink="/" fragment="experiences">{{ experiences }}</a>
      <a class="menu-item" routerLink="/" fragment="education">{{ education }}</a>
      <a class="menu-item" routerLink="/" fragment="skills">{{ skills }}</a>
      <a class="menu-item" routerLink="/" fragment="accomplishments">{{ accomplishments }}</a>
      <a class="menu-item" routerLink="/portfolio">{{ portfolio }}</a>
    </div>
  </div>
</div>