<div class="row">
  <div class="col-md-12">
    <div class="col-md-2 bar" align="center">
      <a class="brand-icon" href="#"><i class="fas fa-bars"></i></a>
      <a class="menu-icon" href="#experiences"><i class="fas fa-briefcase"></i></a>
      <a class="menu-icon" href="#education"><i class="fas fa-graduation-cap"></i></a>
      <a class="menu-icon" href="#skills"><i class="fas fa-code"></i></a>
      <a class="menu-icon" href="#acomplishments"><i class="fas fa-trophy"></i></a>
      <a class="menu-icon pointer" routerLink="/portfolio"><i class="fas fa-book"></i></a>
    </div>
    <div class="menu">
      <a class="brand pointer" href="#">Luiz Philippe</a>
      <a class="menu-item" href="#experiences">Experiences</a>
      <a class="menu-item" href="#education">Education</a>
      <a class="menu-item" href="#skills">Skills</a>
      <a class="menu-item" href="#acomplishments">Acomplishments</a>
      <a class="menu-item pointer" routerLink="/portfolio">Portfolio</a>
    </div>
  </div>
</div>