<div class="row">
  <div class="affix">
    <div class="col-md-12">
      <div class="col-md-2 bar">
        <p class="brand"><i class="fas fa-bars"></i></p>
      </div>
      <div class="menu">
        <p class="brand pointer" routerLink="/">Luiz Philippe</p>
        <p class="menu-item" routerLink="/experiences" routerLinkActive="active-link">Experiences</p>
        <p class="menu-item" routerLink="/education" routerLinkActive="active-link">Education</p>
        <p class="menu-item" routerLink="/skills" routerLinkActive="active-link">Skills</p>
        <p class="menu-item" routerLink="/languages" routerLinkActive="active-link">Languages</p>
        <p class="menu-item" routerLink="/awards" routerLinkActive="active-link">Awards</p>
      </div>
    </div>
  </div>
</div>