#header-box{
  margin-top: 100px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 5px #C4C4C4;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}
#info-box{
  width: 90%;
  margin: auto;
  margin-top: -30px;
}
#picture{
  width: 40%;
  border-radius: 50%;
  border: 8px solid white;
  box-shadow: -1px -1px 5px #C6C4C4;
  margin-top: -15%;
  margin-left: -25%;
}
#name{
  font-size: 48px;
  display: inline-block;
  width: 80%;
  text-align: center;
  margin: auto;
}
#lang{
  font-size: 12px;
  margin: 0%;
}
#titles{
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 15px;
}
#location{
  font-size: 18px;
  margin-bottom: 15px;
}
#contacts{
  font-size: 18px;
}
.contact{
  text-decoration: none;
  margin-bottom: 6px;
  color: inherit;
  display: block;
}
.contact-icon{
  margin-right: 5px;
}
#about{
  font-size: 18px;
  text-align: justify;
  margin-bottom: 20px;
}

@media (max-width: 990px) {
  #header-box{
    margin-left: 5px;
  }
  #info-box{
    margin-top: 5px;
  }
  #picture{
    box-shadow: 0px 0px 5px #C6C4C4;
    margin-top: 15px;
    margin-left: 15px;
  }
  #name{
    width: auto;
    margin-left: 20px;
  }
}
@media (max-width: 700px) {
  #picture{
    width: 70%;
    margin: 30px 15% 30px 15% !important;
  }
}
