/* You can add global styles to this file, and also import other style files */
.none{
  display: none;
}
.pointer{
  cursor: pointer;
}
.left{
  float: left;
}
.right{
  float: right;
}
.lighter-blue{
  color: #BBDEFF;
}
.light-blue{
  color: #118BFF;
}
.blue{
  color: #0E6FCC;
}
.dark-blue{
  color: #09457F;
}
.darker-blue{
  color: #0F3F6E;
}
.lighter-blue-bg{
  background-color: #BBDEFF;
}
.light-blue-bg{
  background-color: #118BFF;
}
.blue-bg{
  background-color: #0E6FCC;
}
.dark-blue-bg{
  background-color: #09457F;
}
.darker-blue-bg{
  background-color: #0F3F6E;
}
.white{
  color: white;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.colapsable{
  margin: 3% 0% 2% 0%;
  display: inline-block;
}
.button{
  box-shadow: 0px 0px 5px #C4C4C4;
  margin-top: 3%;
  padding: 1.1% 2% 1.1% 2%;
  border: 1px solid #0F3F6E;
}
.button-lg{
  box-shadow: 0px 0px 5px #C4C4C4;
  margin-top: 3%;
  font-weight: 400;
  font-size: 22px;
  padding: 1.1% 2% 1.1% 2%;
  border: 1px solid #0F3F6E;
}
.button:hover, .button-lg:hover{
  text-decoration: none;
  color: white;
}
.button:visited, .button-lg:visited{
  text-decoration: none;
  color: white;
}
.button:focus, .button-lg:focus{
  outline: none;
  text-decoration: none;
  color: white;
}
.button:active, .button-lg:active{
  color: white;
  background-color: #0F3F6E;
}
.inline-block{
  display: inline-block;
}
body{
    background-color: #F6F6F6;
}
