/* You can add global styles to this file, and also import other style files */
.none{
  display: none;
}
.pointer{
  cursor: pointer;
}
.left{
  float: left;
}
.right{
  float: right;
}
.lighter-blue{
  color: #BBDEFF;
}
.light-blue{
  color: #118BFF;
}
.blue{
  color: #0E6FCC;
}
.dark-blue{
  color: #09457F;
}
.darker-blue{
  color: #0F3F6E;
}
.lighter-blue-bg{
  background-color: #BBDEFF;
}
.light-blue-bg{
  background-color: #118BFF;
}
.blue-bg{
  background-color: #0E6FCC;
}
.dark-blue-bg{
  background-color: #09457F;
}
.darker-blue-bg{
  background-color: #0F3F6E;
}
.white{
  color: white;
}
.colapsable{
  margin: 3% 0% 2% 0%;
  display: inline-block;
}
.button{
  box-shadow: 0px 0px 5px #C4C4C4;
  margin-top: 3%;
  padding: 1.1% 2% 1.1% 2%;
  border: 1px solid #062E54;
}
.button:hover{
  text-decoration: none;
  color: white;
}
.button:visited{
  text-decoration: none;
  color: white;
}
.button:focus{
  text-decoration: none;
  color: white;
}
.button:active{
  color: white;
  background-color: #062E54;
}
body{
    background-color: #F6F6F6;
}
