.topic{
  padding: 3%;
}
.icon{
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.title{
  color: #545454;
  font-size: 20px;
  margin-bottom: 0px;
}
.period{
  color: #8F8F8F;
  font-size: 20px;
  margin-bottom: 0px;
}
.description{
  color: #545454;
  font-size: 20px;
}
.lighter-blue{
  color: #BBDEFF;
}
.light-blue{
  color: #118BFF;
}
.blue{
  color: #0E6FCC;
}
.dark-blue{
  color: #09457F;
}
.darker-blue{
  color: #0F3F6E;
}
