.skill{
  padding: 0% 3% 0% 10%;
}
.icon{
  font-size: 22px;
  margin-right: 8%;
  display: inline-block;
}
.name{
  font-size: 20px;
  display: inline-block;
  margin: 0;
}
.points{
}
.levelPoint{
  font-size: 18px;
  margin: 0% 1% 0% 1%;
}
